<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/homeLayout :: home_head}">
</head>

<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="~{layouts/homeLayout :: home_header}"></header>
    <div><br>

        <!-- Sửa ở đây -->
        <div class="jumbotron col-sm-4 mx-auto">
            <h2 class="text-center">Thay đổi mật khẩu</h2><br>
            <form action="/update-password" method="post">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-label">Mật khẩu cũ</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                <input name="oldPassword" placeholder="Nhập mật khẩu cũ..." class="form-control"
                                    type="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-label">Mật khẩu mới</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                <input name="newPassword" placeholder="Nhập mật khẩu mới..." class="form-control"
                                    type="password" id="newPassword" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-label">Xác thực mật khẩu mới</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                <input name="confirmPassword" placeholder="Nhập lại mật khẩu mới..."
                                    class="form-control" type="password" id="confirmPassword" required>
                            </div>
                        </div>
                    </div>

                    <h5 style="color:red; text-align: center;" th:text="${message}"></h5>
                    <div class="container w-75">
                        <input type="submit" value="Hoàn thành" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
        </div>

        <!-- Sửa ở đây -->
    </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function validatePassword() {
                var newPassword = document.getElementById("newPassword")
                    , confirmPassword = document.getElementById("confirmPassword");

                if (newPassword.value != confirmPassword.value) {
                    confirmPassword.setCustomValidity("Mật khẩu không trùng khớp");
                } else {
                    confirmPassword.setCustomValidity('');
                }
            }

            newPassword.onchange = validatePassword;
            confirmPassword.onkeyup = validatePassword;
        </script>
    </th:block>
    <footer th:replace="~{layouts/homeLayout :: home_footer}"></footer>
</body>

</html>