<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/homeLayout :: home_head}">
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="~{layouts/homeLayout :: home_header}"></header>
    
    <!-- Sửa ở đây -->
    <div class="bigpic">
        <div class="container bg-light w-75 bg-transparent mt-5 text-right">
          <h5 class="text-light">DỊCH VỤ CHUYỂN PHÁT NHANH TẬN NHÀ</h5>
          <span style="font-size: 100px; font-weight: 400;">S-Shipper</span>
          <br />
          <span style="font-size: 25px; color: aliceblue;"><br />Việc giao và nhận hàng đã trở nên dễ dàng hơn bao giờ hết!
            <br /> Tự do gửi và nhận hàng ngay mà không cần chờ đợi quá lâu.</span>
        </div>
    </div>
    <div class="row text-center w-100" style="margin-top: 30px;">
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-globe" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">Giao hàng toàn quốc</h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-clock-history" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">Dịch vụ nhanh chóng</h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-piggy-bank" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">Siêu tiết kiệm</h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-shield-shaded" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">An toàn tuyệt đối</h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-award" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">Đạt chứng nhận quốc tế</h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 pb-5">
          <i class="bi-headset" style="font-size: 100px; color: #fc5234;"></i> 
          <h4 class="vsc-text">Tổng đài 24/7</h4>
        </div>
      </div>
      <div class="container-xxl py-5 bg-light">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" >
                    <h6 class="text-primary text-uppercase mb-3 font-italic text-danger">Bạn có biết?</h6>
                    <h2 class="mb-5">Siêu dịch vụ chuyển phát nhanh được tin dùng<br/><span style="color: #fc5234; font-size: 45px;">số 1 toàn quốc</span></h2>
                    <p class="mb-5 text-justify">Hàng trăm đơn đặt hàng mỗi ngày là minh chứng cho niềm tin của người dùng đối với <span style="color: #fc5234;">S-Shipper</span>. Chúng tôi tự hào khi được cung cấp giải pháp thiết thực, hỗ trợ cho cuộc sống hàng ngày của người tiêu dùng trong nước và quốc tế</p>
                    <div class="d-flex align-items-center">
                        <i class="bi-headphones fa-2x flex-shrink-0 bg-danger p-3 text-white"></i>
                        <div class="ps-4 ml-2">
                            <h6> Đường dây nóng</h6>
                            <h3 class="text-danger m-0"> (024) 38 696 397</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center h-100">
                        <div class="col-sm-6">
                            <div class="bg-danger p-4 mb-4 text-center">
                                <i class="fa fa-users fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2">1234+</h2>
                                <p class="text-white mb-0">Khách hàng hài lòng</p>
                            </div>
                            <div class="bg-primary p-4 text-center">
                                <i class="fa fa-ship fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2">5678+</h2>
                                <p class="text-white mb-0">Đơn hàng thành công</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-success p-4 text-center">
                                <i class="fa fa-star fa-2x text-white mb-3"></i>
                                <h2 class="text-white mb-2">90+</h2>
                                <p class="text-white mb-0">Đối tác tin cậy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
      <div class="container about py-5 px-lg-0">
          <div class="row g-5 mx-lg-0">
              <div class="col-lg-6 ps-lg-0 wow fadeInLeft">
                  <div class="position-relative h-100">
                      <img class="position-absolute img-fluid w-100 h-100" src="/images/about.jpg" style="object-fit: cover;" alt="">
                  </div>
              </div>
              <div class="col-lg-6 about-text">
                  <h6 class="text-primary text-uppercase mb-3 text-danger">Về chúng tôi</h6>
                  <h1 class="mb-5">Giải pháp đặt hàng nhanh chóng ngay tại nhà</h1>
                  <p class="mb-5">Chúng tôi luôn đặt trải nghiệm của khách hàng lên hàng đầu</p>
                  <div class="row g-4 mb-5">
                      <div class="col-sm-6 wow fadeIn">
                          <i class="fa fa-globe fa-3x mb-3" style="color: #fc5234;"></i>
                          <h5>Đặt hàng trên toàn thế giới</h5>
                      </div>
                      <div class="col-sm-6 wow fadeIn">
                          <i class="fa fa-shipping-fast fa-3x mb-3" style="color: #fc5234;"></i>
                          <h5>Giao hàng nhanh chóng, 24/7</h5>
                      </div>
                  </div>
                  <a href="/about" class="btn py-3 px-5" style="background-color: #fc5234;">Tìm hiểu thêm ></a>
              </div>
          </div>
      </div>
  </div>
    <!-- Sửa ở đây -->
    <footer th:replace="~{layouts/homeLayout :: home_footer}"></footer>
</body>
