<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/homeLayout :: home_head"> 
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="layouts/homeLayout :: home_header"></header>
    <div><br>

        <!-- Sửa ở đây -->
        <div class="jumbotron col-sm-5 mx-auto">
            <h2 class="text-center">Tham gia ngay với chúng tôi</h2><br>
            <form action="/shipper/add" method="post">
                <div class ="form-group">
                    <label>Tên đầy đủ của bạn </label>
                    <input
                    type = "text"
                    name = "fullName"
                    class = "form-control"
                    placeholder="Enter shipper fullname"
                    />
                </div>
                
                <div class ="form-group">
                    <label>Ngày sinh của bạn</label>
                    <input
                    type = "date"
                    name = "ngaySinh"
                    class = "form-control"
                    placeholder="Enter shipper date of birth"
                    />
                </div>
                
                <div class ="form-group">
                    <label> Địa chỉ của bạn </label>
                    <input
                    type = "text"
                    name = "diaChi"
                    class = "form-control"
                    placeholder="Enter shipper address"
                    />
                </div>

                <div class ="form-group">
                    <label> Email của bạn </label>
                    <input
                    type = "text"
                    name = "email"
                    class = "form-control"
                    placeholder="Enter shipper email"
                    />
                </div>

                <div class ="form-group">
                    <label> số điện thoại của bạn </label>
                    <input
                    type = "text"
                    name = "sdt"
                    class = "form-control"
                    placeholder="Enter shipper phone number"
                    />
                </div>

                <div class ="form-group">
                    <label> Số CCCD của bạn </label>
                    <input
                    type = "text"
                    name = "cccd"
                    class = "form-control"
                    placeholder="Enter shipper cccd"
                    />
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <br>
                <h3 style="color:red;" th:text="${message}"></h3>
                <br>
        </div>
        
        <!-- Sửa ở đây -->
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>

</html>