<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layouts/homeLayout :: home_head"> 
  
</head>
<body>
  <header th:replace="layouts/homeLayout :: home_header"></header>
  <div class="container"><br>
    <!-- Sửa ở đây -->
        <div class="jumbotron col-sm-5 mx-auto">
            <h2 class="text-center">Đặt hàng ngay</h2><br>
            <form action="/order/add" method="post">
                <div class ="form-group">
                    <label> Địa chỉ đặt hàng </label>
                    <input
                    type = "text"
                    name = "startPoint"
                    class = "form-control"
                    placeholder="Enter order startPoint"
                    />
                </div>
                
                <div class ="form-group">
                    <label> Địa chỉ giao hàng </label>
                    <input
                    type = "text"
                    name = "endPoint"
                    class = "form-control"
                    placeholder="Enter order endPoint" 
                    />
                </div>

                <div class ="form-group">
                    <label> Giá trị đơn hàng </label>
                    <input
                    type = "text"
                    name = "value"
                    class = "form-control"
                    value="0"
                    placeholder="Enter order value" 
                    />
                </div>

                <div class ="form-group">
                    <label> Tên người nhận </label>
                    <input
                    type = "text"
                    name = "customerName"
                    class = "form-control"
                    placeholder="Enter tên người nhận" 
                    />
                </div>

                <input type="submit" value="Done" class="btn btn-warning btn-block">
                <br>
                <h3 style="color:red;" th:text="${message}"></h3>
                <br>
        </div>
        <!-- Sửa ở đây -->
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>

</html>