<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/adminLayout :: admin_head}"> 
<title>Shipper Management System</title>
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous"> -->
</head>
<body>
	<header th:replace="~{layouts/adminLayout :: admin_header}"></header>
	<div class = "container"><br/>
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Thêm mới Shipper </h1>
				<div class = "card-body">
					<form th:action="@{/admin/shipper/add}" th:object = "${shipper}" method="POST">
						<div class ="form-group">
							<label> Họ và tên shipper <span style="color: red;">(*)</span></label>
							<input
							type = "text"
							name = "fullName"
						   	th:field = "*{fullName}"
							class = "form-control"
							placeholder="Nhập họ và tên của shipper"
							required title="Không nhập chữ số và các kí tự đặc biệt"
							/>
						</div>

                        <!-- <div class ="form-group">
							<label> shipper password </label>
							<input
							type = "password"
							name = "password"
						   	th:field = "*{password}"
							class = "form-control"
							placeholder="Enter shipper password"
							/>
						</div> -->
						
						<div class ="form-group">
							<label> Ngày sinh của shipper </label>
							<input
							type = "date"
							name = "ngaySinh"
						   	th:field = "*{ngaySinh}"
							class = "form-control"
							th:attr="max=${currentDate}"
							/>
						</div>
						
						<div class ="form-group">
							<label> Địa chỉ của shipper <span style="color: red;">(*)</span> </label>
							<input
							type = "text"
							name = "diaChi"
						   	th:field = "*{diaChi}"
							class = "form-control"
							placeholder="Nhập địa chỉ của shipper"
							required
							/>
						</div>

						<div class ="form-group">
							<label> shipper email </label>
							<input
							type = "email"
							name = "email"
						   	th:field = "*{email}"
							class = "form-control"
							placeholder="Nhập email của shipper"
							/>
							<!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]$" -->
						</div>

                        <div class ="form-group">
							<label> Số điện thoại shipper <span style="color: red;">(*)</span></label>
							<input
							type = "text"
							name = "sdt"
						   	th:field = "*{sdt}"
							class = "form-control"
							placeholder="Nhập số điện thoại của shipper"
							required title="Chỉ nhập chữ số"
							pattern="[0-9]+"
							/>
						</div>

                        <div class ="form-group">
							<label> CCCD của shipper </label>
							<input
							type = "text"
							name = "cccd"
						   	th:field = "*{cccd}"
							class = "form-control"
							placeholder="Nhập CCCD của shipper"
							pattern="[0-9]+" title="Chỉ nhập chữ số"
							/>
						</div>

						<div class = "box-footer d-flex justify-content-center">
							<button type="submit" class = "btn btn-primary">
								Hoàn thành
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="~{layouts/adminLayout :: admin_footer}"></footer>
</body>
</html>