<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/adminLayout :: admin_head}">
</head>

<body class="bg-light">
    <header th:replace="~{layouts/adminLayout :: admin_header}"></header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    <h1 class="text-center mt-3">Thống kê</h1>
    <hr />
    <div class="row text-center mb-5" style="width: 85%;margin: auto;">
        <div class="col bg-success mr-3 pt-3 pb-3">
			Số lượng shipper
			<hr />
			[[${totalShipper}]]
		</div>
		<div class="col bg-info ml-3 mr-3 pt-3 pb-3">
			Số lượng đơn hàng
			<hr />
			[[${totalOrder}]]
		</div>
		<div class="col bg-warning bg-opacity-50 ml-3 pt-3 pb-3">
			Số lượng khách hàng
			<hr />
			[[${totalUser}]]
		</div>
    </div>
    <div class="row m-auto">
        <div class="col-6">
            <canvas id="statusChartToday" ></canvas>
        </div>
        <div class="col-6">
            <canvas id="statusChart"></canvas>
        </div>
    </div>
    <br/>
    <div class="row m-auto">
        <div class="col-6">
            <canvas id="shipperChartToday"></canvas>
        </div>
        <div class="col-6">
            <canvas id="shipperChart"></canvas>
        </div>
    </div>
    <br/>
    <div class="row m-auto">
        <div class="col-6">
            <canvas id="userChartToday"></canvas>
        </div>
        <div class="col-6">
            <canvas id="userChart"></canvas>
        </div>
    </div>
    <!-- <div class="col" style="width: 70%;margin: auto;margin-top: 100px;">
        <canvas id="numberOrderChart" style="width:100%;"></canvas>
    </div> -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            var orderStatusCount = [[${ orderStatusCount }]]
            var orderShipperCount = [[${ orderShipperCount }]]
            var orderUserCount = [[${ orderUserCount }]]
            var orderStatusCountToday = [[${ orderStatusCountToday }]]
            var orderShipperCountToday = [[${ orderShipperCountToday }]]
            var orderUserCountToday = [[${ orderUserCountToday }]]
        </script>
        <script type="text/javascript" th:src="@{/js/order_status.js}"></script>
        <script type="text/javascript" th:src="@{/js/order_shipper.js}"></script>
        <script type="text/javascript" th:src="@{/js/order_value.js}"></script>
        <script type="text/javascript" th:src="@{/js/order_status_today.js}"></script>
        <script type="text/javascript" th:src="@{/js/order_shipper_today.js}"></script>
        <script type="text/javascript" th:src="@{/js/order_value_today.js}"></script>


    </th:block>
    <footer th:replace="~{layouts/adminLayout :: admin_footer}"></footer>
</body>

</html>