<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Đăng nhập trang Admin</title>
</head>

<body>
    <div class="container my-5"><br>
        <div class="jumbotron border col-sm-5 mx-auto">
            <h2 class="text-center">Đăng nhập trang Quản trị</h2><br>
            <form action="admin-login" method="post">
                <div class="form-group">
                    <label for="name">Tên đăng nhập</label>
                    <input type="text" name="name" id="name" placeholder="Tên đăng nhập..." required
                        class="form-control form-control-lg">
                </div>

                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Mật khẩu..." required
                        name="password" id="password">
                </div>
                <span>Chưa có tài khoản? <a class="linkControl" href="/admin/register">Đăng kí ngay</a></span> <br><br>

                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block">
                <br>
                <h3 style="color:red;text-align: center;" th:text="${message}"></h3>
        </div>

    </div>
</body>

</html>