<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/adminLayout :: admin_head">
</head>

<body>
    <header th:replace="layouts/adminLayout :: admin_header"></header>
    <div class="container">
        <h1 class="text-center ">Báo cáo</h1>
        <div class="row ">

            <form th:action="@{/admin/bao-cao}">
                Báo cáo :
                <input type="text" name="month" id="month_input" style="width: 160px;position: relative;"
                th:value="${month_input}" required />
                <input type="text" name="year" id="year_input" style="width: 160px;position: relative;"
                th:value="${month_input}" required />
                <a type="button" value="btnClear" id="btnClear" onclick="clearSearch()">
                    <button class="btn-danger">Clear</button>
                </a>
                <input type="submit" style="background-color: aqua;" value="Search" />
            </form>
        </div>
        <div class="container bg-light mt-5">
            <p>Từ ngày đến ngày</p>
            <p>Số đơn hàng: </p>
            <p>Số khách hàng: </p>
            <div>
                Tỉ lệ đơn hàng
            </div>
            
            <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>startPoint</th>
                    <th>endPoint</th>
                    <th>value</th>
                    <th> status</th>
                    <th> Actions </th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.startPoint}"></td>
                    <td th:text="${order.endPoint}"></td>
                    <td th:text="${order.value}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <a th:href="@{/admin/order/edit/{id}(id=${order.id})}" class="btn btn-primary">Update</a>
                        
                        <a th:href="@{/admin/order/delete/{id}(id=${order.id})}" class="btn btn-danger">Delete</a>
                        
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    </div>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/admin/bao-cao}]]";
        }
    </script>
</body>

</html>