<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/adminLayout :: admin_head">
	<title>Order Management System</title>
	<!-- <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> -->
</head>
<body>
<header th:replace="layouts/adminLayout :: admin_header"></header>
<div class = "container">
	<div class = "row">
		<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class = "text-center"> Update order </h1>
			<div class = "card-body">
				<form th:action="@{/admin/order/update/{id} (id=${order.id})}" th:object = "${order}" method="POST">
					<div class ="form-group">
						<label> order startPoint </label>
						<input
								type = "text"
								name = "startPoint"
								th:field = "*{startPoint}"
								class = "form-control"
								placeholder="Enter order startPoint"
						/>
					</div>

					<div class ="form-group">
						<label> order endPoint </label>
						<input
								type = "text"
								name = "endPoint"
								th:field = "*{endPoint}"
								class = "form-control"
								placeholder="Enter order endPoint"
						/>
					</div>

					<div class ="form-group">
						<label> order value </label>
						<input
								type = "text"
								name = "value"
								th:field = "*{value}"
								class = "form-control"
								placeholder="Enter order value"
						/>
					</div>

					<div class ="form-group">
						<label> tên người nhận </label>
						<input
						type = "text"
						name = "customerName"
						th:field = "*{customerName}"
						class = "form-control"
						placeholder="Enter tên người nhận" 
						/>
					</div>

					<div class ="form-group">
						<label> order shipperID </label>
							<select name = "customer_id" class = "form-control" th:field = "*{shipperID}">
								<option th:each="shipper: ${listShippers}"
										th:value="${shipper.id}"
										th:text="${shipper.fullName}">
								</option>
							</select>
					</div>

					<div class ="form-group">
						<label> order status </label>
						<select name = "status" class = "form-control" th:field = "*{status}">
							<option value="Đang chờ xử lí">Đang chờ xử lí</option>
							<option value="Đang vận chuyển">Đang vận chuyển</option>
							<option value="Đã giao hàng">Đã giao hàng</option>
							<option value="Đã hủy">Đã hủy</option>
						</select>
					</div>


					<div class = "box-footer">
						<button type="submit" class = "btn btn-primary">
							Submit
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<footer th:replace="layouts/adminLayout :: admin_footer"></footer>
</body>
</html>