<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/adminLayout :: admin_head}">
	<title>Order Management System</title>
	<!-- <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> -->
</head>
<body>
<header th:replace="~{layouts/adminLayout :: admin_header}"></header>
<div class = "container"><br/>
	<div class = "row">
		<div class ="col-lg-8 col-md-8 col-sm-8 container justify-content-center card">
			<h1 class = "text-center">Cập nhật đơn hàng </h1>
			<div class = "card-body">
				<form th:action="@{/admin/order/update/{id} (id=${order.id})}" th:object = "${order}" method="POST">
					<!-- <div class ="form-group">
						<label>Giá trị đơn hàng* </label>
						<input
						type = "text"
						name = "value"
						th:field = "*{value}"
						class = "form-control"
						placeholder="Nhập giá trị đơn hàng" 
						required min="1" step="1" title="Nhập số nguyên dương"
						/>
					</div> -->

					<div class="row">
						<div class ="form-group col">
							<label>Điểm đặt hàng <span style="color: red;">(*)</span></label>
							<input
							type = "text"
							name = "startPoint"
						   	th:field = "*{startPoint}"
							class = "form-control"
							placeholder="Nhập điểm đặt hàng"
							required
							/>
						</div>
						
						<div class ="form-group col">
							<label>Điểm giao hàng <span style="color: red;">(*)</span></label>
							<input
							type = "text"
							name = "endPoint"
							th:field = "*{endPoint}"
							class = "form-control"
							placeholder="Nhập điểm giao hàng" 
							required
							/>
						</div>
					</div>
					<div class="row">
						<div class ="form-group col-4">
							<label>Tên đơn hàng <span style="color: red;">(*)</span></label>
							<input
							type = "text"
							name = "goodName"
							th:field = "*{goodName}"
							class = "form-control"
							placeholder="Nhập tên đơn hàng" required
							/>
						</div>

						<div class ="form-group col-4">
							<label>Phân loại đơn hàng <span style="color: red;">(*)</span></label>
							<select name = "goodType" class = "form-control" th:field = "*{goodType}" required>
								<option value="Thực phẩm">Thực phẩm</option>
								<option value="Quần áo">Quần áo</option>
								<option value="Điện tử">Điện tử</option>
								<option value="Dễ vỡ">Dễ vỡ</option>
								<option value="Khác">Khác</option>
							</select>
						</div>

						<div class ="form-group col-4">
							<label>Trọng lượng đơn hàng <span style="color: red;">(*)</span></label>
							<select name = "goodWeight" class = "form-control" th:field = "*{goodWeight}" required>
								<option value="Dưới 1kg">Dưới 1kg</option>
								<option value="1kg-2kg">1kg - 2kg</option>
								<option value="2kg-5kg">2kg - 5kg</option>
								<option value="5kg-10kg">5kg - 10kg</option>
								<option value="Trên 10kg">Trên 10kg</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class ="form-group col">
							<label> Tên người nhận </label>
							<input
							type = "text"
							name = "customerName"
							th:field = "*{customerName}"
							class = "form-control"
							placeholder="Nhập tên người nhận" 
							/>
						</div>

						<div class ="form-group col">
							<label> Chọn người đặt hàng <span style="color: red;">(*)</span></label>
							<select name = "user" class = "form-control" th:field = "*{user}">
								<option th:each="user: ${listUsers}"
										th:value="${user.id}"
										th:text="${user.userName}">
								</option>
							</select>
						</div>

						<div class ="form-group col">
							<label> Chọn shipper <span style="color: red;">(*)</span></label>
							<select name = "shipper" class = "form-control" th:field = "*{shipper}">
								<option th:each="shipper: ${listShippers}"
										th:value="${shipper.id}"
										th:text="${shipper.fullName}">
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class ="form-group col-4">
							<label> Trạng thái đơn hàng <span style="color: red;">(*)</span></label>
							<!-- <input
							type = "text"
							name = "status"
							th:field = "*{status}"
							class = "form-control"
							placeholder="Enter order status" 
							/> -->
							<select name = "status" class = "form-control" th:field = "*{status}">
								<option value="Chờ xử lí">Chờ xử lí</option>
								<option value="Đang giao hàng">Đang giao hàng</option>
								<option value="Giao hàng xong">Giao hàng xong</option>
								<option value="Hủy đơn hàng">Hủy đơn hàng</option>
							</select>
						</div>
						
						<div class ="form-group col-8">
							<label>Ghi chú </label>
							<input
							type = "text"
							name = "ghiChu"
							th:field = "*{ghiChu}"
							class = "form-control"
							placeholder="Nhập ghi chú (nếu có)" 
							
							/>
						</div>
					</div>	
						<div class = "box-footer d-flex justify-content-center">
							<button type="submit" class = "btn btn-primary">
								Hoàn thành
							</button>
						</div>
				</form>

			</div>
		</div>
	</div>
</div>
<footer th:replace="~{layouts/adminLayout :: admin_footer}"></footer>
</body>
</html>